@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentation {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentation_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentation_box_title {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentation_box_title_strong {
    color: var(--cor-terciaria);
}

.apresentation_box_text {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentation_box_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentation_box_buttons_title {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentation_box_button {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentation_box_button:hover {
    background-color: var(--cor-hover);
    transition: 1s;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-weight: 400;

}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.apresentation_image {
    width: 50%;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

@media (max-width: 1200px) {
    .apresentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentation_box {
        width: auto;
    }
}